@import "tailwindcss";

@layer base {
  /* Import Overused Grotesk variable font */
  @font-face {
    font-family: 'Overused-Grotesk';
    src: url('/fonts/OverusedGrotesk-VF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
  }

  @theme {
    /* Fonts */
    --font-overused: 'Overused-Grotesk', sans-serif;
  }
}

body {
  font-family: 'Overused-Grotesk';
  background-color: #F6F6F6;
  margin: 0px;
  padding: 0px;
}
.my-container {
  @apply  mx-auto px-4 sm:px-6 lg:px-[3vw];
}
