@import "tailwindcss";

@layer base {
  /* Import Overused Grotesk variable font */
  @font-face {
    font-family: 'Overused-Grotesk';
    src: url('/fonts/OverusedGrotesk-VF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
  }

  @theme {
    /* Fonts */
    --font-overused: 'Overused-Grotesk', sans-serif;
  }
}

body {
  font-family: 'Overused-Grotesk';
  background-color: #F6F6F6;
  margin: 0px;
  padding: 0px;
}
.my-container {
  @apply  mx-auto px-4 sm:px-6 lg:px-[5vw];
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  animation: marquee 20s linear infinite;
  width: max-content;
}



/* Performance optimization */
.marquee-container {
  will-change: transform;
}

/* Ensure smooth rendering */
.marquee-wrapper {
  backface-visibility: hidden;
  perspective: 1000px;
}
.theme-torquoise
{
    @apply text-[#085859];
}